/* Calendar */

#calendar {
}

#calendar caption {
	padding-bottom: 5px;
	font-weight: bold;
        color: navy;
}

#calendar table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid navy;
}

#calendar thead th {
	padding: 5px 0;
	text-align: center;
	border-top: 1px solid navy;
	border-left: 1px solid navy;
	background: navy;
        color: white;
}

#calendar tbody td {
	padding: 5px 0;
	text-align: center;
	border-top: 1px solid navy;
	border-left: 1px solid navy;
	border-right: 1px solid navy;
	border-bottom: 1px solid navy;
}

#calendar tfoot td {
	padding: 5px;
}

#calendar tfoot #next {
	text-align: right;
}

#calendar .today {
	background: yellow;
}

#calendar .highlight {
	background: lightblue;
}