/* 
    Document   : mypersonalfitness
    Created on : Feb 6, 2010, 4:43:41 PM
    Author     : Eric A. Bonney
    Description:
        Purpose of the stylesheet follows.
*/

body {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    background-color: #e2edff;
    line-height: 125%;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

h1 {
    font-size: x-large;
    color: navy;
}

h2 {
    color: navy;
    font-size: 130%;
    font-weight: normal;
}

h3 {
    color: navy;
    font-size: 110%;
    font-weight: normal;
    background-color: navy;
    color: white;
}

h4 {
    color: navy;
}

div.header {
    font-weight: bold;
    text-align: center;
}

div.labels {
    font-weight: bold;
    text-decoration: underline;
}

#bodycontent {
    width: 84%;
}

#navigation {
    width: 12%;
    height: 96%;
    background-color: #7da5d8;
}

#quickcalendar {
    width: 25%;
}

#workoutsummary {
    width: 50%;
    border: solid 1px navy;
    padding-left: 5px;
    padding-right: 5px;
}

#workoutnotes {
    width: 85%;
}

#workoutform {
    width: 33%;
}

#workoutform label {
    display: block;
    width: 25%;
    float: left;
}

#workoutform input {
    width: 50px;
    text-align: right;
}

#workoutform input.other_description {
    width: 235px;
    text-align: left;
}

#raceform {
    width: 40%;
}

#currentmonthtotals, #currentyeartotals, #priormonthtotals, #prioryeartotals {
    width: 25%;
    color: navy;
    border: 1px solid navy;
}

#duration {
    width: 33%;
}

#distance {
    width: 33%;
}

#swimduration, #swimdistance, #bikeduration, #bikedistance, #runduration, #rundistance,
#otherduration, #otherdistance, #dailylinkedit, #dailylinkdelete, #workoutduration, #workoutdistance,
#workoutswimduration, #workoutswimdistance, #workoutbikeduration, #workoutbikedistance,
#workoutrunduration, #workoutrundistance, #workoutotherduration, #workoutotherdistance {
    display: inline;
}

#routelisting {
    width: 85%;
}

#map {
    width: 1000px;
    height: 550px;
}

#routename input {
    width: 125px;
}

#dailyworkouts {
    width: 100%;
}

#dailyswim, #dailybike, #dailyrun, #dailyother {
    width: 25%;
}

#dailyswim h2, #dailybike h2, #dailyrun h2, #dailyother h2 {
    text-align: center;
}

#dailylinkedit a, #dailylinkdelete a {
    color: white;
}

#dailylinkedit a:hover , #dailylinkdelete a:hover {
    color: white;
    font-style: italic;
}

#monthlytotals {
    font-size: x-small;
    width: 12%;
}

#workoutheader {
    text-align: center;
}

#workoutswimduration, #workoutbikeduration, #workoutrunduration, #workoutotherduration {
    width: 50px;
    text-align: left;
}
#workoutswimdistance, #workoutbikedistance, #workoutrundistance, #workoutotherdistance {
    width: 50px;
    text-align: right;
}
/*
This section deals with the position of items on the screen.
It uses fixed positioning - items will not scroll when the screen needs
to scroll. Instead they are completely fixed in there specific location.
Positioning is done from the top left corner of the browers window.
Selection is done by ids.
*/
#navigation {
    position: fixed;
}

#navigation {
    top: 20px;
    left: -10px;
}

/*
This section deals with the position of items on the screen.
It uses absolute positioning - fixed x and y coordinates measured
from the top-left corner of the items container.
Selection is done by ids.
*/
#bodycontent, #quickcalendar, #volumegraph, #workoutsummary, #linkedit, #linkdelete, #currentmonthtotals,
#currentyeartotals, #priormonthtotals, #prioryeartotals, #map, #newroute, #tabledistance,
#routename, #map_controls, #sitesize, #planselection, #dailyswim, #dailybike, #dailyrun, #dailyother,
#returntoday, #monthlytotals, #workoutduration, #workoutdistance, #workouts, #workoutswimdistance,
#workoutbikedistance, #workoutrundistance, #workoutotherdistance, #workoutswimduration,
#workoutbikeduration, #workoutrunduration, #workoutotherduration, #racesmenu {
    position: absolute;
}

#bodycontent {
    top: 20px;
    left: 150px;
}

#quickcalendar {
    top: 60px;
    left: 5px;
}

#volumegraph {
    top: 40px;
    left: 280px;
}

#workoutsummary {
    top: 275px;
}

#linkedit {
   top: 0px;
   left: 355px;
}

#linkdelete {
    top: 0px;
    left: 380px;
}

#currentmonthtotals {
    top: 25px;
    left: 560px;
}

#currentyeartotals {
    top: 150px;
    left: 560px;
}

#priormonthtotals {
    top: 25px;
    left: 830px;
}

#prioryeartotals {
    top: 150px;
    left: 830px;
}

#map {
    left: 1px;
}

#map_controls {
    left: 1000px;
}

#newroute {
    top: 500px;
    left: -130px;
}

#tabledistance {
    top: 250px;
    left: -140px;
}

#routename {
    top: 300px;
    left: -140px;
}

#sitesize {
    top: 540px;
}

#planselection {
    top: 250px;
}

#dailyswim {
    left: 0px;
}

#dailybike {
    left: 275px;
}

#dailyrun {
    left: 550px;
}

#dailyother {
    left: 825px;
}

#returntoday {
    top: 540px;
    left: -125px;
}

#monthlytotals {
    top: 275px;
    left: -145px;
}

#workoutduration {
    left: 55px;
}

#workoutdistance {
    left: 105px;
}

#workouts {
    top: 30px;
}

#workoutswimduration, #workoutbikeduration, #workoutrunduration, #workoutotherduration {
    left: 45px;
}

#workoutswimdistance, #workoutbikedistance, #workoutrundistance, #workoutotherdistance {
    left: 85px;
}

#racesmenu {
    top: 300px;
    left: -130px;
}
/*
This section deals with the position of items on the screen.
It uses relative positioning - inside a particular block.
Selection is done by ids.
*/
#durationdistancepace, #workoutnotes, #distance, #duration, #swimduration, #swimdistance,
#bikeduration, #bikedistance, #runduration, #rundistance, #otherduration, #otherdistance,
#dailylinkedit, #dailylinkdelete, #dailyworkoutnotes {
    position: relative;
}

#durationdistancepace {
    top: -45px;
    left: 20%;
}

#workoutnotes {
    left: 15%;
}

#duration {
    top: 0px;
    left: 40%;
}

#distance {
    top: -15px;
    left: 70%;
}

#swim {
    top: -10px;
}

#bike {
    top: -40px;
}

#run {
    top: -70px;
}

#strength {
    top: -100px;
}

#other {
    top: -100px;
}

#swimduration {
    left: 60px;
}

#swimdistance {
    left: 95px;
}

#bikeduration {
    left: 66px;
}

#bikedistance {
    left: 115px;
}

#runduration {
    left: 66px;
}

#rundistance {
    left: 123px;
}

#otherduration {
    left: 66px;
}

#otherdistance {
    left: 123px;
}

#dailylinkedit {
    left: 30px;
}

#dailylinkdelete {
    left: 40px;
}

#dailyworkoutnotes {
    top: 10px;
}