<div id="workoutform">
<% form_for @swim, :url => swim_workout_path do |f| %>
  <%= f.error_messages %>
  <fieldset>
    <legend>Edit your swim workout</legend>
    <%= render :partial => "shared/form", :object => f %>
  </fieldset>
  <%= f.submit "Save" %>
<% end %>
</div>